<!DOCTYPE html>
<h1>Tic-Tac-Toe Awaits</h1>

<form action = "name" method = "post">
<p>Who is playing (name)?</p> 
  <input type = "text" name = "user_name1">
<p>Second player's name or tab over box. </p>
  <input type = "text" name = "user_name2">
  <br>
<p>Choose your type of game:
<br>
	<br>1 = Two Human Players
	<br>2 = Player vs Sequential
	<br>3 = Player vs Random 
	<br>4 = Player vs Unbeatable</p>
<br>

  <input type = "integer" name = "game_type">
  <br><br><br>

  <p>Choose your tic tac toe marker:
<br>
  <br>1 = X
  <br>2 = O</p>
<br>

  <input type = "integer" name = "marker">
  <br><br><br>
  <input type = "submit" value = "Start game when ready.">
  <br>
</form>
 